*{
    padding: 0;
    margin: 0;
   
}

html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 16pt;
    color: black;
}
body{
    min-height: 100vh;
    padding: 10px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin: 100px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: aqua;
}
.wrapper{
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#todo-input{
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background-color: whitesmoke;
    border: 2px solid aqua;
    border-radius: 1.5rem;
}
#todo-input:focus{
    outline: none;
}
form{
    position: relative;

}
#add-button{
    position: absolute;
    top: 0;
    right: 0;
    background-color: aqua;
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 100px;
    font:inherit;
    font-weight: 600;
    color: black;
    cursor: pointer;
}
.todo{
    margin-bottom: 10px;
    padding: 0 16 px;
    background-color: aqua;
    border-radius: 1.5rem;
    display: flex;
    align-items: center;
}
.todo .todo-text{
    padding: 15px;
    padding-right: 0;
    flex-grow: 1;
    font-size: 1.5rem;
}
.customcheckbox img{
    margin-top: .3rem;
    margin-left: 1rem;
    height: 1.7rem;
}
.customcheckbox img:hover{
    opacity: 70%;
}
.delete-button {
   padding: 3px;
   margin-right: 1rem;
   background: none;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.delete-button:hover {
    opacity: 70%;
}
input[type="checkbox"]:checked ~ .todo-text{
text-decoration: line-through;
color: gray;
}
input[type="checkbox"]{
    display: none;
}
@media(max-width:500px){
    html{
        font-size: 12pt;
    }
    #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding:15px;
        height:auto;
    }
    h1{
        margin-top: 50px;
        font-size: 15w;
    }
}
